@model CrudProduto.Models.Categorium

@{
    ViewData["Title"] = "Delete";
}

<h1>Exclusão de Categoria</h1>

<h4>Tem certeza que deseja excluir esta categoria?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nome da Categoria
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCategoria" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </form>
</div>
