@model IEnumerable<CrudProduto.Models.Fornecedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Fornecedores</h1>

<p>
    <a asp-action="Create">Novo Fornecedor</a>
</p>
<table class="table" id="tabelaFornecedores">
    <thead>
        <tr>
            <th>
                Nome do Fornecedor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFornecedor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdFornecedor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFornecedor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
